{% load i18n %}

<nav class="homepage-signal-nav" aria-label="{% trans 'Homepage sections' %}" data-homepage-signal-nav>
  <ul class="homepage-signal-nav__list">
    <li class="homepage-signal-nav__item">
      <a class="homepage-signal-nav__link is-active" href="#home-intro" data-signal-target="home-intro" aria-current="location">
        <span class="homepage-signal-nav__dot" aria-hidden="true"></span>
        <span class="homepage-signal-nav__label">{% trans "Discover" %}</span>
      </a>
    </li>
    <li class="homepage-signal-nav__item">
      <a class="homepage-signal-nav__link" href="#explore" data-signal-target="explore">
        <span class="homepage-signal-nav__dot" aria-hidden="true"></span>
        <span class="homepage-signal-nav__label">{% trans "Explore" %}</span>
      </a>
    </li>
    <li class="homepage-signal-nav__item">
      <a class="homepage-signal-nav__link" href="#values" data-signal-target="values">
        <span class="homepage-signal-nav__dot" aria-hidden="true"></span>
        <span class="homepage-signal-nav__label">{% trans "Principles" %}</span>
      </a>
    </li>
    <li class="homepage-signal-nav__item">
      <a class="homepage-signal-nav__link" href="#apps" data-signal-target="apps">
        <span class="homepage-signal-nav__dot" aria-hidden="true"></span>
        <span class="homepage-signal-nav__label">{% trans "Capabilities" %}</span>
      </a>
    </li>
  </ul>
</nav>
